body
        {
            background-color: #FFFFFF;
            color: #666666;
            font-family: Arial, Helvetica, sans-serif;
        }

dt
        {
            color: #001717;
        }

footer
        {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 75%;
            font-style: italic;
            text-align: center;
        }

header
        {
            background-color: #000032; /* different from book */
            background-image: url(images/sunset.jpg);
            background-position: right;
            background-repeat: no-repeat;
            color: #FFFFFF;
            line-height: 400%;
            text-indent: 1em;
        }

h1
        {
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-bottom: 0;
        }

h2
        {
            color: #1976D2;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

h3
        {
            color: #000033;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

nav
        {
            background-color: #BBDEFB;
            font-weight: bold;
        }

nav a
        {
            text-decoration: none;
        }

ul
        {
            list-style-image: url(images/marker.gif);
        }

.resort
        {
            color: #1976D2;
            font-weight: bold;
        }

#contact
        {
            font-size: 90%;
        }